[submodule "How-To-Secure-A-Linux-Server"]
	path = How-To-Secure-A-Linux-Server
	url = git@github.com:imthenachoman/How-To-Secure-A-Linux-Server.git
	branch = master
[submodule "ws-screenshot"]
	path = ws-screenshot
	url = git@github.com:elestio/ws-screenshot.git
	branch = master
[submodule "smartHome/smart-home_bachya"]
	path = smartHome/smart-home_bachya
	url = git@github.com:bachya/smart-home.git
	branch = master
[submodule "k8/ide/lens"]
	path = k8/ide/lens
	url = git@github.com:lensapp/lens.git
	branch = master
[submodule "k8/ide/kalm"]
	path = k8/ide/kalm
	url = git@github.com:kalmhq/kalm.git
	branch = master
[submodule "misc/zsh-autosuggestions"]
	path = misc/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
	branch = master
